.categories {
  display: grid;
  grid-template-columns: 1fr;
  
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 110px;
}

/*.category-element-container {
  margin: -100px 0 0 0;
  font-size: 20px;
}

.category-element-container-2 {
  margin: -130px 0 0 0;
}

.category-element-container-3 {
  margin: -160px 0 0 0;
}

.category-element-container-4 {
  margin: -190px 0 0 0;
}*/

@media all and (max-width: 376px) {
  .category-element-container {
    margin: -250px 0 0 0;
    font-size: 20px;
  }
  
  .category-element-container-2 {
    margin: -410px 0 0 0;
  }
  
  .category-element-container-3 {
    margin: -560px 0 0 0;
  }
  
  .category-element-container-4 {
    margin: -710px 0 0 0;
  }

  .category-element-container-5 {
    margin: -820px 0 0 0;
  }
}
